# Manejo de Base de Datos con Python
----------------------------------------------------

En esta sección conoceremos realizaremos una instroducción al manejo de bases de datos con Python.

Con este propósito estaremos trabajando con las sigueintes bases de datos:

- SqlLite
- Postgresql
- MongoDb (Base de datos Nosql)


Dado que es una introducción, no se abordarán temas más alla de los escenciales para extraer y cargar información a nuestra base de datos

## 1. Introducción a las Bases de Datos
-------------------------------------------

Las bases de datos son conjuntos de información que se almacenan y se consultan con un sistema. Los gestores de bases de datos son un tipo de software que permite estructurar una base de datos, almacenar la información y consultarla.

https://www.youtube.com/watch?v=knVwokXITGI

<img src=''>

## 1.2. Modelo Relacional

- Estructura: Utilizan un esquema predefinido con tablas relacionadas.
- Lenguaje de Consulta: Utilizan SQL (Structured Query Language) para consultas y manipulación de datos.
- Transacciones: Ofrecen ACID (Atomicidad, Consistencia, Aislamiento, Durabilidad) para garantizar la integridad de los datos.
- Escalabilidad: Vertical (escalado hacia arriba) generalmente, aunque algunos RDBMS también soportan escalado horizontal.
- Flexibilidad: Menos flexible en términos de esquema debido a la estructura tabular fija.
- Ejemplos: MySQL, PostgreSQL, Oracle Database.

<img src='https://media.licdn.com/dms/image/D4E12AQEV7p_-kWWLFQ/article-inline_image-shrink_1000_1488/0/1702853127896?e=1724284800&v=beta&t=KkhcIiEpcXDFbtE2wDR1NnMhXO_VxeS3Rc8mg7ztFT0'>

## 1.2. Bases de Datos NoSQL - MongoDb

MongoDB es una base de datos NoSQL popular que se diferencia de los sistemas tradicionales de bases de datos relacionales en varios aspectos clave:

**Modelo de Datos:**

- MongoDB utiliza un modelo de documentos. Los datos se almacenan en documentos BSON (JSON binario) que son similares a objetos JSON.
- Cada documento puede tener una estructura flexible, lo que significa que los campos pueden variar entre documentos en una misma colección.


**Lenguaje de Consulta**:

Las consultas en MongoDB se realizan utilizando un lenguaje de consulta similar a JSON. Se pueden realizar consultas complejas utilizando operadores y métodos específicos de MongoDB.

<img src='https://webimages.mongodb.com/_com_assets/cms/kuzt9r42or1fxvlq2-Meta_Generic.png' height='200'>

* Creacion de Cuenta Mongo Db

https://www.mongodb.com/cloud/atlas/register?utm_source=google&utm_campaign=search_gs_pl_evergreen_atlas_core_retarget-brand_gic-null_amers-all_ps-all_desktop_eng_lead&utm_term=mongodb%20atlas&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=14412646314&adgroup=131761122132&cq_cmp=14412646314&gad_source=1&gclid=Cj0KCQjws560BhCuARIsAHMqE0ESKlKap4mWsAYxN6npd4qGjSwfpYgR5hgUAWHRCApnIXYm9FT1658aAuBbEALw_wcB

## 2. Lenguaje SQL
---------------------------

El lenguaje más utilizado en las bases de datos relacionales el lenguaje SQL (Lenguaje de Consulta Estructurada), y es necesario aprenderlo si queremos utilizar este tipo de bases de datos en nuestros programas.

<img src='https://1.bp.blogspot.com/-MuCO0K5sehg/WjPVIdp87LI/AAAAAAAABRY/Ny7-YC-tIGIHLP6dShGWEagAlEw54OXnACLcBGAs/s1600/sentencias_sql.png'>

Para este curso haremos uso de las siguientes sentencias básicas


- Crear una tabla:

In [ ]:
CREATE TABLE TableName (
    column1 datatype,
    column2 datatype,
    column3 datatype,
    ...
);

- Insertar datos en una tabla:

In [ ]:
INSERT INTO TableName (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

- Seleccionar datos de una tabla:

In [ ]:
SELECT column1, column2, ...
FROM TableName
WHERE condition;


SELECT *
FROM TableName;

- Eliminar una tabla:

In [ ]:
DROP TABLE TableName;

## 3. Trabajando con Bases de Datos SQL

### 3.1 SQL Lite

SQLite es un sistema de gestión de bases de datos relacional ligero y autónomo que se utiliza ampliamente debido a su simplicidad y eficiencia. Esta Base de Datos se encuentra dentro del paquete de python

SQL Lite lo que hace es generar archivos donde almacenara los datos

In [2]:
import sqlite3

# establecemos la conexión con la base de datos, de no existir la crea
#  ruta a archivo de la base de datos
with sqlite3.connect('base.db') as connection:
    pass # cierra la conexión a la base de datos

#### 3.1.1 Creación de una Tabla

In [3]:
import sqlite3

# creamos la sentencia SQL
sentencia = """
CREATE TABLE IF NOT EXISTS ventas(
    fecha DATE,
    producto VARCHAR(100), 
    cantidad INTEGER,
    precio_unitario decimal(18,2) 
);
"""

# conectamos con la base de datos
with sqlite3.connect('base.db') as conexion:
    # cursor nos permite ejecutar sentencias SQL
    cursor = conexion.cursor()

    # Ahora crearemos una tabla de ventas a partir de la sentencia SQL
    cursor.execute(sentencia)

    # Guardamos los cambios haciendo un commit
    conexion.commit()
    pass # cierra la conexión a la base de datos

#### 3.1.2 Insertar

In [4]:
import sqlite3

# Insertamos un dato en la tabla de ventas
sentencia = """
INSERT INTO ventas (fecha, producto, cantidad, precio_unitario)
VALUES ('2024-07-01', 'producto1', 2, 10.50);
"""

# establecemos la conexión con la base de datos
with sqlite3.connect('base.db') as conexion:
    
    # generamos un cursor para ejecutar sentencias SQL
    cursor = conexion.cursor()
    
    # Insertamos un registro en la tabla de usuarios
    cursor.execute(sentencia)
    # Guardamos los cambios haciendo un commit
    conexion.commit()
    pass # cierra la conexión a la base de datos

In [5]:
# Insertamos muchos datos en la tabla de ventas

# al insertar muchos valores, requerimos una lista de tuplas
lista_ventas = [
    ('2024-07-01','producto2',1,15.00),
    ('2024-07-02','producto1',1,10.50),
    ('2024-07-02','producto3',4,7.25),
]

# establecemos la conexión con la base de datos
with sqlite3.connect('base.db') as conexion:
    
    # generamos un cursor para ejecutar sentencias SQL
    cursor = conexion.cursor()
    
    # Insertamos registros en la tabla de ventas, utilizando executemany
    # requerimos especificar la sentencia SQL con las columnas a llenar y los valores
    # ? son marcadores de posición para los valores que se insertarán
    cursor.executemany('INSERT INTO ventas(fecha, producto, cantidad, precio_unitario) VALUES (?,?,?,?)' ,lista_ventas)
    
    # confirmar cambios
    conexion.commit()
    pass # cierra la conexión a la base de datos

#### 3.1.3 Lectura de Datos

In [6]:
import sqlite3

with sqlite3.connect('base.db') as conexion:
    cursor = conexion.cursor()

    # Recuperamos los registros de la tabla de usuarios
    cursor.execute("SELECT * FROM ventas")

    # Mostrar el cursos a ver que hay ?
    print(cursor)

    # Recorremos el primer registro con el método fetchone, devuelve una tupla
    ventas = cursor.fetchall()
    pass

for venta in ventas:
    print(venta)

<sqlite3.Cursor object at 0x71e1dc0630c0>
('2024-07-01', 'producto1', 2, 10.5)
('2024-07-01', 'producto2', 1, 15)
('2024-07-02', 'producto1', 1, 10.5)
('2024-07-02', 'producto3', 4, 7.25)

In [7]:
ventas

[('2024-07-01', 'producto1', 2, 10.5),
 ('2024-07-01', 'producto2', 1, 15),
 ('2024-07-02', 'producto1', 1, 10.5),
 ('2024-07-02', 'producto3', 4, 7.25)]

### 3.2 Postgresql

PostgreSQL es un sistema de gestión de bases de datos relacional de código abierto y robusto, conocido por su confiabilidad, capacidades avanzadas y soporte para estándares SQL.

In [1]:
!pip install psycopg2
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 1.4 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp39-cp39-linux_x86_64.whl size=477570 sha256=6e1dac799a88da7599c2a6b5bc1e234368dc7535e828e213d5ec3fbf497359d3
  Stored in directory: /home/vscode/.cache/pip/wheels/3a/06/25/adb124afd8c8346e45c455f6586f7289cde2b4e339dfbcd9e9
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 19.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [2]:
# Conexión similar a la anterior

# Cursos y sentencias execute nos servirán para ejecutar sentencias SQL

import psycopg2

# sudo service postgresql start

# Cadena de conexión
connection_string = "dbname='vscode' user='vscode' password='password' host='localhost' port='5432'"

# Conectar a la base de datos
with psycopg2.connect(connection_string) as conn:
    print("Conexión exitosa")
    
    pass # cierra la conexión a la base de datos

Conexión exitosa

Creación, insersión y lectura de datos

In [3]:
from pprint import pprint

crear_tabla = """
CREATE TABLE IF NOT EXISTS ventas(
    fecha DATE,
    producto VARCHAR(100), 
    cantidad INTEGER,
    precio_unitario decimal(18,2) 
);
"""

insertar_tabla = """
INSERT INTO ventas (fecha, producto, cantidad, precio_unitario)
VALUES ('2024-07-01', 'producto1', 2, 10.50);
"""

with psycopg2.connect(connection_string) as conn:
    
    cursor = conn.cursor()

    # creando tabla
    cursor.execute(crear_tabla)
    conn.commit()

    # insertando datos
    cursor.execute(insertar_tabla)
    conn.commit()
    
    # leyendo
    cursor.execute("SELECT * FROM ventas")
    ventas = cursor.fetchall()
    pass

# Imprimo valores
pprint(ventas)

[(datetime.date(2024, 7, 1), 'producto1', 2, Decimal('10.50'))]

### 3.3 Conexion a otras bases de Datos

Una forma generalizada para conectarnos a una DB, la cual nos podría servir para conectarnos a SQLServer Oracle, otras sería usando la libreria odbc

In [4]:
!pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (331 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.9/331.9 kB 7.4 MB/s eta 0:00:0000:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
import pyodbc

# Parámetros de conexión
server = 'nombre_servidor'
database = 'nombre_base_datos'
username = 'nombre_usuario'
password = 'contraseña'

# Cadena de conexión
conn_str = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

# Crear la conexión
with pyodbc.connect(conn_str) as conn:
    # Crear un cursor
    cursor = conn.cursor()

    # Ejecutar una consulta SQL
    cursor.execute("SELECT * FROM nombre_tabla")

    # Obtener los resultados
    rows = cursor.fetchall()
    pass

# Iterar sobre los resultados
for row in rows:
    print(row)

## 4. Conexión Mongo DB

In [5]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.10.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 14.5 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 11.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
usuario = 'gon2794'
contra = 'WGA2LLADVph52DYf'

"mongodb+srv://gon2794:WGA2LLADVph52DYf@mongodbcluster.polzshz.mongodb.net/?retryWrites=true&w=majority&appName=mongodbCluster"

In [6]:
from pymongo import MongoClient

# cadena de conexión, atlas mongo db
cadena_conexion_mongo = 'mongodb+srv://gonzalodelgador:oCepoCGGsI1bVlkU@mongocluster.46ahjqy.mongodb.net/'


#"mongodb+srv://gon2794:WGA2LLADVph52DYf@mongodbcluster.polzshz.mongodb.net/?retryWrites=true&w=majority&appName=mongodbCluster"

def conexion_mongo_db(cadena_conexion:str, db_name:str):
    client = MongoClient(cadena_conexion)
    db = client[db_name]
    return db

# Usar la función para crear una conexión
db = conexion_mongo_db(cadena_conexion=cadena_conexion_mongo, db_name='sample_mflix')

In [7]:
db.list_collection_names()

['users', 'movies', 'theaters', 'embedded_movies', 'comments', 'sessions']

In [8]:
# retornando un valor de la colección movies
db.movies.find_one()

{'_id': ObjectId('573a1390f29313caabcd42e8'),
 'plot': 'A group of bandits stage a brazen train hold-up, only to find a determined posse hot on their heels.',
 'genres': ['Short', 'Western'],
 'runtime': 11,
 'cast': ['A.C. Abadie',
  "Gilbert M. 'Broncho Billy' Anderson",
  'George Barnes',
  'Justus D. Barnes'],
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTU3NjE5NzYtYTYyNS00MDVmLWIwYjgtMmYwYWIxZDYyNzU2XkEyXkFqcGdeQXVyNzQzNzQxNzI@._V1_SY1000_SX677_AL_.jpg',
 'title': 'The Great Train Robbery',
 'fullplot': "Among the earliest existing films in American cinema - notable as the first film that presented a narrative story to tell - it depicts a group of cowboy outlaws who hold up a train and rob the passengers. They are then pursued by a Sheriff's posse. Several scenes have color included - all hand tinted.",
 'languages': ['English'],
 'released': datetime.datetime(1903, 12, 1, 0, 0),
 'directors': ['Edwin S. Porter'],
 'rated': 'TV-G',
 'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'},
 'lastupdated': '2015-08-13 00:27:59.177000000',
 'year': 1903,
 'imdb': {'rating': 7.4, 'votes': 9847, 'id': 439},
 'countries': ['USA'],
 'type': 'movie',
 'tomatoes': {'viewer': {'rating': 3.7, 'numReviews': 2559, 'meter': 75},
  'fresh': 6,
  'critic': {'rating': 7.6, 'numReviews': 6, 'meter': 100},
  'rotten': 0,
  'lastUpdated': datetime.datetime(2015, 8, 8, 19, 16, 10)},
 'num_mflix_comments': 0}

In [9]:
# insertando un valor en la colección movies
db.movies.insert_one({'title': 'Mi película', 'year': 2021})

InsertOneResult(ObjectId('6702c6dd63e87b82de24dfe0'), acknowledged=True)

In [10]:
# buscar valor por titulo
db.movies.find_one({'title': 'Mi película'})

{'_id': ObjectId('6702c6dd63e87b82de24dfe0'),
 'title': 'Mi película',
 'year': 2021}

In [ ]:
# insertando varios valores en la colección movies
listado_de_peliculas = [listado_diccionarios]
db.movies.insert_many(listado_de_peliculas)

In [11]:
db = conexion_mongo_db(cadena_conexion=cadena_conexion_mongo, db_name='pythonpc4')

In [13]:
db.list_collection_names()

['tipo_cambio']

In [14]:
db.tipo_cambio.insert_one({'compra': 3.72, "venta": 3.74, 'fecha': "2024-10-02"})

InsertOneResult(ObjectId('6702c7ec63e87b82de24dfe2'), acknowledged=True)