# COLECCIONES DE DATOS

Python integra un montón de colecciones para manejar datos.

1. Listas (list)
2. Tuplas 
3. Diccionarios (dic)
4. Conjuntos (set)

## 1. Listas

Las listas son colecciones ordenadas y mutables(sus valores pueden ser alterados) de elementos, permitiendo almacenar múltiples valores en una sola variable.

Los elementos de una lista se organizarán por indices comenzando con 0 hasta el n-1 elemtos que contenga mi lista

<center><img src='https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/listas-python-t2.jpg' width="400" height="300"></center>

- Creación de Lista

In [1]:
# Puedes crear listas utilizando corchetes [] y separando los elementos por comas.
lista_vacia = []
listado_numeros = [1, 2, 3, 4, 5]


lista_elementos = [1, "dos", 3.0, True]

In [2]:
# validando tipo de dato de variable
type(listado_numeros)

list

- Acceso a los elementos de una lista

In [3]:
# Recuerda que en Python los índices empiezan en 0.
print(lista_elementos[1])  # 1

# -1 es el índice del último elemento, -2 el penúltimo, y así sucesivamente.
print(lista_elementos[-1])  # True

dos
True

In [4]:
len(lista_elementos)  # 4

# Ultimo elemento de mi lista
lista_elementos[len(lista_elementos) - 1]  # True
lista_elementos[-1]

True

- Modificación de elementos de una lista

In [5]:
listado_numeros

[1, 2, 3, 4, 5]

In [6]:
# lista[indice]= nuevo_valor
listado_numeros[0] = 10
print(listado_numeros)  # [10, 2, 3, 4, 5]

[10, 2, 3, 4, 5]

- Longitud de una lista

In [7]:
# len nos permite obtener la longitud de una lista.

len(listado_numeros)

5

- Suma de listas

In [8]:
lista_combiana = listado_numeros + lista_elementos
lista_combiana

[10, 2, 3, 4, 5, 1, 'dos', 3.0, True]

### Operaciones Básicas sobre Listas

- append(): Agrega un elemento al final de la lista

In [9]:
lista_elementos.append(6)

lista_elementos

[1, 'dos', 3.0, True, 6]

In [10]:
# podemos agregar multiples veces el mismo elemento. Lo unico que cambiará será la opción del indice
lista_elementos.append(6)

lista_elementos

[1, 'dos', 3.0, True, 6, 6]

- Count() : Contabiliza cuantos elementos de cierto tipo existen en la lista

In [12]:
# Contar cuantas veces se repite un elemento en la lista 
lista_elementos.count(6)

2

- remove(): Elimina la primera aparición de un elemento.

In [11]:
# Remove, unicamente eliminará el primer elemento que encuentre con el valor que le pasemos
lista_elementos.remove(6)

lista_elementos

[1, 'dos', 3.0, True, 6]

- reverse(): Invierte el orden de la lista.

In [14]:
lista_elementos.reverse()
lista_elementos

[6, True, 3.0, 'dos', 1]

- index(): nos permite obtener el índice de un elemento en la lista.

In [12]:
# index nos permite obtener el índice de un elemento en la lista.
lista_elementos.index(6)

# De existir dos elementos iguales, nos devolverá el índice del primero que encuentre.

4

In [13]:
lista_elementos

[1, 'dos', 3.0, True, 6]

In [ ]:
# lista_elementos.sort()

### Operaciones Avanzadas

- Slicing en listas: Nos permite obtener una sub lista a partir de una posición de inicio y fin

In [14]:
lista_elementos

[1, 'dos', 3.0, True, 6]

In [16]:
# Slice sobre listas
# lista[inicio:fin]

lista_elementos[1:3]

['dos', 3.0]

In [17]:
# la posición de inicio es inclusiva y la posición de fin es exclusiva.
lista_elementos[:2]

[1, 'dos']

In [18]:
# podemos avanzar de n en n dentro de la lista

lista_elementos[::2]

[1, 3.0, 6]

- Pruebas de Pertenencia en listas

In [19]:
# Pruebas de pertenencia sobre listas

4 in listado_numeros # True

True

In [20]:
# Valido si elementos se encuentra en lista
if 4 in listado_numeros:
    print('el 4 se encuentra contenido en la lista')

el 4 se encuentra contenido en la lista

In [ ]:
# también podemos utilizar not in para saber si un elemento no se encuentra en la lista.

4 not in listado_numeros # False

In [21]:
# funciona tambien para strings
'b' in 'aeiou'

False

- Listas de Listas

In [ ]:
# Listas anidadas
a = ['abc','dfe',False]
b = [1,2,3]
c = ['dasd','hola','mundo']

d = [a,b,c]
d

In [ ]:
d[2][1]

In [ ]:
print(d[1])

- Navegacion por elementos de lista

In [22]:
for elemento in lista_elementos:
    print(elemento)

1
dos
3.0
True
6

### Ejercicios de Listas
-------------------------------------

1. Crear una lista de nombres y agregar un nuevo nombre al final.

In [27]:
lista_nombres = ["Kiara", "Alva", "Gonzalo", "Luois"]
print(lista_nombres)
lista_nombres.append("Mariños")
print(lista_nombres)

['Kiara', 'Alva', 'Gonzalo', 'Luois']
['Kiara', 'Alva', 'Gonzalo', 'Luois', 'Mariños']

2. Acceder al tercer elemento y modificarlo.

In [28]:
lista_nombres[3] = "Pedro"
print(lista_nombres)

['Kiara', 'Alva', 'Gonzalo', 'Pedro', 'Mariños']

3. Eliminar el primer elemento y ordenar la lista.

In [29]:
del lista_nombres[1]
print(lista_nombres)

['Kiara', 'Gonzalo', 'Pedro', 'Mariños']

In [30]:
sorted(lista_nombres)

['Gonzalo', 'Kiara', 'Mariños', 'Pedro']

4. Iterar sobre la lista e imprimir los nombres en mayúsculas.

## 2. Tuplas

Son unas colecciones muy parecidas a las listas con la peculiaridad de que son <b>inmutables</b>:

In [31]:
# Tuplas en Python
tupla = (100,"Hola",[1,2,3],-50,('mundo',20))
tupla

(100, 'Hola', [1, 2, 3], -50, ('mundo', 20))

In [32]:
type(tupla)

tuple

In [33]:
# Obteniendo valores de una tupla
print(tupla)
print(tupla[0])
print(tupla[-1])
print(tupla[2:])
print(tupla[2][-1])
print(tupla[4][-1])

(100, 'Hola', [1, 2, 3], -50, ('mundo', 20))
100
('mundo', 20)
([1, 2, 3], -50, ('mundo', 20))
3
20

In [34]:
# Al ser inmutables, no podemos modificar los elementos de una tupla.
tupla[1]=20

TypeError: 'tuple' object does not support item assignment

In [35]:
tupla[2]

[1, 2, 3]

In [36]:
# 

tupla[2][1] = 8

### METODOS DE TUPLAS

In [37]:
tupla.count(100) # cuantas veces aparece el numero 100 en la tupla

1

In [38]:
tupla.index(-50) # posicion de elemento en tupla

3

In [39]:
tupla[2] # tupla[n] -> n indica el indice o posicion del elemento

[1, 8, 3]

In [40]:
# no podemos modificar los elementos de una tupla
tupla[0]=5

TypeError: 'tuple' object does not support item assignment

## 3. Diccionarios

Los diccionarios son colecciones desordenadas de elementos, donde cada elemento es un par clave-valor. Las claves deben ser únicas e inmutables.

<img src='https://bioinf.comav.upv.es/courses/linux/_images/python_dict.png'>

In [41]:
# Diccionario vacio
diccionario_vacio = {} # dict()
datos_persona = {"nombre": "Luis", "edad": 30, "ciudad": "Barcelona"}
datos_persona

{'nombre': 'Luis', 'edad': 30, 'ciudad': 'Barcelona'}

In [42]:
# Tipo de dato de diccionario
type(diccionario_vacio)

dict

In [43]:
# Accediendo a los elementos de un diccionario, esto se hace a través de las claves.
print(datos_persona["nombre"])  # Luis
print(datos_persona.get("edad"))  # 30

Luis
30

In [44]:
# Modificando valores de un diccionario
datos_persona["edad"] = 31
print(datos_persona)  # {"nombre": "Luis", "edad": 31, "ciudad": "Barcelona"}

{'nombre': 'Luis', 'edad': 31, 'ciudad': 'Barcelona'}

### Métodos Sobre Diccionarios

- keys(): Devuelve una vista de las claves.

In [45]:
claves = datos_persona.keys()
claves

dict_keys(['nombre', 'edad', 'ciudad'])

- values(): Devuelve una vista de los valores.

In [46]:
valores = datos_persona.values()

valores

dict_values(['Luis', 31, 'Barcelona'])

- items(): Devuelve una vista de los pares clave-valor.

In [47]:
items = datos_persona.items()
items

dict_items([('nombre', 'Luis'), ('edad', 31), ('ciudad', 'Barcelona')])

- update(): Actualiza el diccionario con pares clave-valor de otro diccionario o iterable.

In [48]:
datos_persona.update({"edad": 32, "país": "España"})
datos_persona

{'nombre': 'Luis', 'edad': 32, 'ciudad': 'Barcelona', 'país': 'España'}

- pop(): Elimina y devuelve el valor de la clave especificada.

In [49]:
edad = datos_persona.pop("edad")
edad

32

In [52]:
datos_persona

{'nombre': 'Luis', 'ciudad': 'Barcelona', 'país': 'España', 'edad': 34}

In [51]:
datos_persona['edad'] = 34

### Iterar sobre diccionarios

In [53]:
for clave in datos_persona:
    print(clave, datos_persona[clave])

nombre Luis
ciudad Barcelona
país España
edad 34

In [54]:
for clave, valor in datos_persona.items():
    print(clave, valor)

nombre Luis
ciudad Barcelona
país España
edad 34

### Construcciones Sobre Diccionarios

In [55]:
# los diccionarios pueden contener listas, tuplas, diccionarios
colegio = {
    'materias':['Matemáticas', 'Física', 'Química', 'Historia','Lengua'],
    'profesores':['Gonzalo','Juan','Pedro','Maria','Ana']
}

In [58]:
colegio['profesores'][1]

'Juan'

Las listas pueden contener diccionarios

In [59]:
lista = list() # []
lista

[]

In [60]:
curso = {
    'profesor':'Gonzalo',
    'materia':'Python',
    'Cantidad_alumnos': 25
}

In [61]:
curso2 = {
    'profesor':'David',
    'materia':'VBA',
    'Cantidad_alumnos': 10
}

In [62]:
lista.append(curso)
lista.append(curso2)

print(lista)

[{'profesor': 'Gonzalo', 'materia': 'Python', 'Cantidad_alumnos': 25}, {'profesor': 'David', 'materia': 'VBA', 'Cantidad_alumnos': 10}]

In [64]:
lista[0]['profesor']

'Gonzalo'

### EJERCICIOS DE DICCIONARIOS
--------------------------

1. Crear un diccionario de información de un libro y agregar un nuevo campo.

In [5]:
libro = {'nombre': 'Harry Pother', 'autor': 'J.K. Rowling', 'paginas': 300, 'genero': 'Fantasia'}
libro['anio_publicacion'] = 1997

libro

{'nombre': 'Harry Pother',
 'autor': 'J.K. Rowling',
 'paginas': 300,
 'genero': 'Fantasia',
 'anio_publicacion': 1997}

2. Acceder al autor y modificar el año de publicación.

In [6]:
print(f'Autor {libro['autor']}')

libro['anio_publicacion'] = 1998

libro

Autor J.K. Rowling

{'nombre': 'Harry Pother',
 'autor': 'J.K. Rowling',
 'paginas': 300,
 'genero': 'Fantasia',
 'anio_publicacion': 1998}

3. Eliminar el campo género y mostrar todas las claves.

In [7]:
libro.pop('genero')

libro

{'nombre': 'Harry Pother',
 'autor': 'J.K. Rowling',
 'paginas': 300,
 'anio_publicacion': 1998}

In [8]:
libro.items()

dict_items([('nombre', 'Harry Pother'), ('autor', 'J.K. Rowling'), ('paginas', 300), ('anio_publicacion', 1998)])

4. Iterar sobre el diccionario e imprimir los valores en mayúsculas.

In [11]:
'candena'.upper()

'CANDENA'

In [13]:
type('cadena')

str

In [14]:

for clave, valor in libro.items():

    # modifico las claves y las paso a mayuscula
    if type(valor)=='str':
        libro[clave]=valor.upper()

libro

{'nombre': 'HARRY POTHER',
 'autor': 'J.K. ROWLING',
 'paginas': 300,
 'anio_publicacion': 1998}

5.
Durante el desarrollo de un pequeño videojuego se te encarga configurar y balancear cada clase de personaje jugable. Partiendo que la estadística base es 2, debes cumplir las siguientes condiciones:

- El caballero tiene el doble de vida y defensa que un guerrero.
- El guerrero tiene el doble de ataque y alcance que un caballero.
- El arquero tiene la misma vida y ataque que un guerrero, pero la mitad de su defensa y el doble de su alcance.

Muestra como quedan las propiedades de los tres personajes.

In [65]:
caballero = {'vida': 2 , 
             'ataque': 2,   
             'defensa':2, 
             'alcance': 2
            }

In [66]:
guerrero = {
    'vida': 2 ,
    'ataque': 2,
    'defensa':2,
    'alcance': 2
}

In [67]:
arquero = {
    'vida': 2 ,
    'ataque': 2,
    'defensa':2,
    'alcance': 2
}

#### añadiendo lógica

- El caballero tiene el doble de vida y defensa que un guerrero.
- El guerrero tiene el doble de ataque y alcance que un caballero.
- El arquero tiene la misma vida y ataque que un guerrero, pero la mitad de su defensa y el doble de su alcance.

In [68]:
caballero['vida'] = guerrero['vida'] * 2
caballero['defensa'] = guerrero['defensa'] * 2

In [69]:
guerrero['ataque'] = caballero['ataque'] * 2
guerrero['alcance'] = caballero['alcance'] *2

In [70]:
arquero['vida'] = guerrero['vida']

arquero['ataque'] = guerrero['ataque']
arquero['defensa'] = guerrero['defensa']/2
arquero['alcance'] = guerrero['alcance']

In [71]:
caballero

{'vida': 4, 'ataque': 2, 'defensa': 4, 'alcance': 2}

In [72]:
guerrero

{'vida': 2, 'ataque': 4, 'defensa': 2, 'alcance': 4}

In [73]:
arquero

{'vida': 2, 'ataque': 4, 'defensa': 1.0, 'alcance': 4}

## 4. Conjuntos

<b>Son colecciones desordenadas de elementos únicos </b>utilizados para hacer pruebas de pertenencia a grupos y eliminación de elementos duplicados.

Para definir un conjunto vacío hay que llamar a su clase set (conjunto en inglés):

In [74]:
# Definir un conjunto vacío
conjunto = set()
conjunto

set()

Sin embargo si lo creamos con algunos datos se definen entre llaves:

In [75]:
# Los conjuntos eliminan los elementos duplicados
conjunto_numeros = {1,2,3,3,3,4,5}
conjunto_numeros

{1, 2, 3, 4, 5}

### METODOS DE CONJUNTOS

<img src='https://miro.medium.com/max/2218/1*sxE38q1ttzeRg1QvC28a6g.png' width="400" height="300" >

In [76]:
con1 = {1,2,3}
con2 = {1,2,3}
con3 = {3,4,5}

In [77]:
con1.intersection(con3)

{3}

In [78]:
con1.difference(con2)

set()

In [83]:
# conviritendo lista a conjunto

# shif + enter -> ejecuta celda actual y pasa a la siguiente

lista = [1,2,3,3,3,5,6,7]
conjunto = set(lista)
conjunto

{1, 2, 3, 5, 6, 7}

In [84]:
# convirtiendo conjunto a lista
lista2 = list(conjunto)
lista2

[1, 2, 3, 5, 6, 7]

### Ejercicio

Dadas dos listas, debes generar una tercera con todos los elementos que se repitan en ellas, pero no debe repetirse ningún elemento en la nueva lista:

<code>

lista_1 = ["h",'o','l','a',' ', 'm','u','n','d','o']

lista_2 = ["h",'o','l','a',' ', 'l','u','n','a']

</code>

In [ ]:
# 1. genero las listas
lista_1 = ["h",'o','l','a',' ', 'm','u','n','d','o']

lista_2 = ["h",'o','l','a',' ', 'l','u','n','a']


# 2. convierto las listas a conjuntos
conjunto_1 = set(lista_1)
conjunto_2 = set(lista_2)

# 3. realizo la intersección de los conjuntos
conjunto_3 =  conjunto_1.intersection(conjunto_2)
conjunto_3

In [ ]:
# 4. convierto el conjunto a lista
lista_final = list(conjunto_3)
lista_final

In [ ]:
# 5. ordenar la lista, esto no lo pide el problema
lista_final.sort()
lista_final